@font-face {
    font-family: "montserrat";
    src: url("/resources/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-display: swap;
}
@font-face {
    font-family: "lato";
    src: url("/resources/fonts/Lato/Lato-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "open-sans";
    src: url("/resources/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
    font-display: swap;
}
@font-face {
    font-family: "roboto";
    src: url("/resources/fonts/Roboto/Roboto-Regular.ttf");
    font-display: swap;
    font-weight: normal;
}
@font-face {
    font-family: "roboto";
    src: url("/resources/fonts/Roboto/Roboto-Bold.ttf");
    font-display: swap;
    font-weight: bold;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
